.dc-dashboard-content {
  margin-left: 240px;
  /* padding: 24px; REMOVED to allow full width Topbar */
  display: flex;
  flex-direction: column;
  /* Stack Topbar and Page */
  padding-bottom: 80px;
  justify-content: flex-start;
  /* Align top */
  align-items: stretch;
  /* Full width */
  /* Inner scroll removed so that only window scrolls */
  overflow-y: visible;
  overflow-x: hidden;
  /* prevent horizontal scroll */
  height: auto;
}

.dc-dashboard-page-container {
  padding: 24px;
  flex: 1;
  display: flex;
  justify-content: center;
  /* Center content like before */
  width: 100%;
}



/* MOBILE */
@media (max-width: 768px) {
  .dc-sidebar {
    left: -260px;
    z-index: 1000;
  }

  .dc-dashboard-content {
    display: block;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 120px;
    overflow-x: hidden;
  }
}

.dc-sidebar-btn {
  width: 30px;
  height: 30px;
  color: royalblue;
}