.dashboard-content {
  margin-left: 240px;
  padding: 24px;
  display:flex;
  padding-bottom: 80px;
  justify-content: center;
  /* Inner scroll removed so that only window scrolls */
  overflow-y: visible;
  overflow-x: hidden;         /* prevent horizontal scroll */
  height: auto;
}



/* hamburger */
.menu-btn {
  display: none;
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 200;
  background: #111827;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 20px;
}
/* desktop */
@media (min-width: 769px) {
  .dashboard-content {
    display: flex;
    margin-left: 240px; /* sidebar width */
  }
}
/* MOBILE */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  /* .dashboard-content {
    padding-top: 70px;
  } */
   .sidebar {
    left: -260px;
  }

   .dashboard-content {
    display: block;   /*  CRITICAL */
    margin-left: 0;
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 120px;
    overflow-x: hidden;
  }
}
